<h1> New Appearance </h1>

<%= form_for @appearance do |f| %>
<%= f.collection_select(:guest_id, @guests, :id, :name) %>
<%= f.collection_select(:episode_id, @episodes, :id, :date) %>
<%= f.number_field(:rating) %>
<%= f.submit %>
<% end %>

